*{
  font-family: Helvetica Neue,sans-serif;
}

html,body, #page-1, #page-2{
  height: 1920px;
  width: 1080px;
  padding:0;
  margin:0;
  float: left;
}

body{
  background: #000;
  color: #fff;
}

.loader{
  text-align: center
}

ul{
  margin:0;
  padding:0;
}

ul li{
  list-style-type: none;
  margin:0;
  padding:0;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 32px;
}

.one {
  background: #AAFF00;
  color: #333;
}

.two {
  background: #FF00AA;
  color: #fff;
}

.three {
  background: #FFAA00;
  color: #fff;
}

.four {
  background: #00FFAA;
  color: #fff;
}

.five {
  background: #AA00FF;
  color: #fff;
}

.six {
  background: #00AAFF;
  color: #fff;
}


li {
    opacity: 1;
}
li.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
li.ng-enter-active {
    opacity: 1;
}

.team{
  float:left;
  text-align: center;
}

.team-0, .team-1, .team-2{
  width: 33%;
}

.team-3, .team-4{
  width: 50%;
}

.pie-chart{
  width: 100%;
}

.page-toggle{
  display:block;
  background: #111;
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
}

.row{
  width:100%;
  height: 33%;
  float: left;
}


#wow-gif{
  background: #fff;
  width: 100%;
  text-align: center;
  line-height: 640px;
  position: absolute;
  top: 640px;
  display: none;
}

#graveyard{
  padding-top:100px;
  width: 1080px;
  height: 500px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

#graveyard img{
  width: 100px;
  height: 150px;
}

#wow-gif img{
  width: 100%;
}



#wow-tasks ul{
  height: 100%;
  overflow: hidden;
}
#wow-tasks li{
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 45%;
  float:left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 30px;
}

#wow-tasks li:last-child{
  margin-right: 0;
}


.c3-chart-arc path{
  stroke: none;
}

.c3 text {
  color: #fff;
}

.c3 text {
  font-size: 32px;
}

.c3 .tick text{
  font-size: 18px;
  fill: #fff;
}

.c3 .c3-axis path, .c3 .c3-axis line,
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  stroke: #fff;
}



.task-card{
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-left: 15px;
}

#all-tasks ul {
  padding: 15px;
}
.task-card h2{
  margin: 0;
  padding:0;
  font-weight: normal;
  font-size: 32px;
}

.task-card p{
  font-size: 64px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.task-card.wow{
  border-left: 10px solid #107FC9;
}


.ng-hide-add, .ng-hide-remove{
  display: block !important
}

.css-fade{
  transition: 0.25s linear all;
  opacity: 1;
}
.css-fade .ng-hide{
  opacity: 0
}


/* Admin UI */

#page-3 #solid-tasks li{
  border: none;
  margin-left: 0;

}

#page-3 #solid-tasks select,
#page-3 #solid-tasks input[type=text]{
  background: #000;
  color: #fff;
  font-size: 32px;
  border: 1px solid #fff;
}

#page-3 #solid-tasks li select,
#page-3 #solid-tasks li input[type=text]{
  background: none;
  color: inherit;
  border: 0;
}

#page-3 #solid-tasks input[type=text]{
  width: 70%;
}


.remove{
  float: right;
  margin-right: 15px;
}

.rating-red{
  background: #DF151A ;
  border: 0
}

.rating-yellow{
  background: #F4F328 ;
  color: #000;
  border: 0;
}

.rating-green{
  background: #00DA3C ;
  color: #000;
  border: 0
}












